<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="../../static/css/public.css">
  <link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">
<div class="hero">
  <div class="hero-container">
    <div class="hero-form">
      <form>
        <h3 class="mb-5">Reset Password</h3>
        <p>Enter your user account's verified email address, <br> and we will send you a password reset link.</p>
        <div class="text-center mb-3">
          <div class="form-outline mb-4">
            <input type="email" id="loginName" class="form-control" placeholder="Email" />
          </div>
          <button type="submit" class="btn btn-outline-success btn-block mb-4">Send Link</button>
        </div>
        <div class="text-center mb-3 d-none">
          <div class="form-outline mb-4">
            <input type="password" id="newPassword" class="form-control" placeholder="New Password" />
          </div>
          <div class="form-outline mb-4">
            <input type="password" id="repeatNewPassword" class="form-control" placeholder="Repeat New Password" />
          </div>
          <button type="submit" class="btn btn-outline-success btn-block mb-4">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>